html {
    height: 100%;
}
html, body {
    overflow-x:hidden;
    overflow-y:auto;
}
body{
	line-height:20px;
	color:#505050;	/*系统默认字体颜色*/
	font-size:12px;
	font-family:Tahoma, "宋体";
}
.body{
    width:100%;
	height:100%;
}
a{
	color:#069;
	outline:none;
	text-decoration:none;
}
a:hover{
	color:#F60;
	text-decoration:underline;
}
.page{
	width:1000px;
	margin:0 auto;
}
.clear{
	clear:both;
	display:block;
}

.footer{
	border-top:1px solid #DDD;
}
.footer-page{
	text-align:center;
	padding:12px 0;
	border-top:1px solid #FFF;
	background:#F2F2F2;
}
.footer-page a{
	color:#808080;
	padding:0 8px;
}
.footer-page a:hover{
	color:#F60;
}
