body{
	background:url(../images/login-bg.jpg) #F4F3F1 repeat-x center 92px;
}

.login-header{
	background-color:#FFF;
}
.login-header .masthead{
	position:relative;
	z-index:3000;
	height:92px;
}
.login-header .logo{
	float: left;
	padding-top: 38px;
	font-family: "宋体";
	font-size: 36px;
	font-weight: bold;
	color: #000;
	font-style: normal;
	 text-shadow:#999 5px 5px 10px;
}
.login-header .logo h2 a{
	font-size:18px;
	font-weight:700;
}
.logo-box{
	float:left;
	margin-top:16px;
}
.logo-box .pic, .logo-box .title{
	float:left;
	display:inline;
	margin-right:10px;
}
.logo-box .title{
	font-size:20px;
	white-space:nowrap;
	margin-top:6px;
}



.cbox{
	float:left;
	width:13px;
	height:13px;
	margin:3px 4px 0 0;
}


.login-page{
	overflow:hidden;
	height:520px;
	background:url(../images/login-bg.jpg) no-repeat center 0;
}
.login-box{
	position:relative;
	width:1000px;
	margin:0 auto;
}

.description{
	position:absolute;
	top:240px;
	left:390px;
	width:240px;
	color:#CEDBD9;
}
.description dt{
	line-height:30px;
	font-size:20px;
	margin-bottom:10px;
}


.login-main{
	position:absolute;
	top:90px;
	right:36px;
	width:332px;
}
.login-hd{
	overflow:hidden;
	height:42px;
	padding:0 7px 0 5px;
	background:url(../images/login-icon.png) no-repeat;
}
.login-hd a{
	overflow:hidden;
	float:left;
	width:100px;
	line-height:47px;
	color:#666;
	text-align:center;
	font-size:16px;
	font-family:Microsoft Yahei;
}
.login-hd a:hover{
	text-decoration:none;
}
.login-hd .teacher{
	background:url(../images/login-icon.png) no-repeat -345px 0;
}
.login-hd .student{
	background:url(../images/login-icon.png) no-repeat -565px 0;
}
.login-hd .admin{
	width:120px;
	background:url(../images/login-icon.png) no-repeat -445px 0;
}
.login-hd .on{
	line-height:50px;
	color:#000;
	cursor:default;
	font-weight:700;
	background:none;
}

.login-bd{
	height:100%;
	background:url(../images/login-icon.png) repeat-y -680px 0;
}
.login-ft{
	overflow:hidden;
	height:15px;
	background:url(../images/login-icon.png) no-repeat -340px -100px;
}

.login-form .user, .login-form .pwd{
	position:relative;
	height:46px;
	margin-left:36px;
	background:url(../images/login-icon.png) no-repeat 0 -50px;
}
.login-form .pwd{
	background-position:0 -100px;
}
.login-form .user input, .login-form .pwd input{
	position:absolute;
	top:0;
	left:0;
	width:205px;
	height:19px;
	line-height:19px;
	color:#666;
	font-size:14px;
	font-family:Tahoma;
	padding:7px 5px 8px 32px;
	border:0;
	background-color:transparent;
}
.login-form .status{
	float:left;
	padding-left:36px;
}
.login-form .forget{
	float:right;
	padding-right:50px;
}
.login-form .btn{
	width:242px;
	height:38px;
	cursor:pointer;
	border:0;
	margin:10px 0 0 36px;
	background:url(../images/login-icon.png) no-repeat -340px -50px;
}

.login-space{
	padding:16px 16px 16px 36px;
}
.login-tips{
	color:#C00;
}

.login-other{
	color:#999;
	padding:18px 16px 16px 36px;
}
.login-other .title{
	color:#57756F;
	font-size:14px;
}

.footer{
	border-top:1px solid #BBB;
}
.footer-page{
	text-align:center;
	padding:12px 0;
	border-top:1px solid #FFF;
	background:#FFF;
}




