html, body {
    overflow-y:auto;
	height:100%;
	_height:auto;
	+height:auto;
	background-color:#F8F8F8;
}
body{
	line-height:20px;
	color:#475663;
	font-size:12px;
	font-family:Arial, Tahoma, "宋体";
}
.body{
    overflow:auto;
    width:100%;
	height:100%;
}
.clear{
	clear:both;
}
a{
	color:#242C31;
	outline:none;
	text-decoration:none;
}
.space{
	padding:8px;
}
.blue{
	color:#06C;
}
.red{
	color:#C00;
}
.green{
	color:#080;
}
.hide{
	display: none;
}
.bg-color td{
	background-color:#DEECF1 !important;
}
.hover-color td, .hover-color td a{
	color:#0B130B !important;
	background-color:#FFE9D0 !important;
}

/*---------- header -----------*/
.header{
	overflow:hidden;
	height:60px; 
	background:url(../images/header-bg.png) repeat-x;
}
.header .logo{
	float:left;
	margin:6px 0 0 10px;
}

.header .user-set{
	position:absolute;
	top:4px;
	right:8px;
}
.header .user-set a:hover{
	color:#F60;
	text-decoration:underline;
}
.header .user-set .line{
	color:#CCC;
	padding-right:2px;
}
	
	
.content{
	position:absolute;
	top:60px;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	_height:expression(document.body.offsetHeight - 60 + 'px'); /*header(height)*/
	background:url(../images/content-bg.png) #34414B repeat-x;
}

/*---------- menu -----------*/
.menu{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	overflow-y:auto;
	overflow-x:hidden;
	font-family:Microsoft Yahei;
	width:160px;
	height:100%;
}
.menu-hd{
	font-size:14px;
	font-weight:700;
	color:#FC0;
	padding:8px 0 8px 12px;
}
.menu-box h6{
	display:block;
	height:28px;
	line-height:28px;
	color:#FFF;
	cursor:default;
	text-decoration:none;
	padding-left:12px;
	background:url(../images/menu-on.png) no-repeat 0 -28px;
}
.menu-box li .item{
	padding:6px 8px 12px 6px;
	background:#2C373F;
}
.menu-box li .item a{
	display:block;
	height:24px;
	line-height:24px;
	color:#CCC;
	padding-left:12px;
}
.menu-box li .item a:hover{
	color:#FC0;
	background:#3D4D58;
}
.menu-box li .item a.selected{
	color:#FC0;
	background:#3D4D58;
}
.menu-box li.on h6, .menu-box li h6:hover{
	color:#330;
	background:url(../images/menu-on.png) no-repeat;
	cursor: pointer;
}
.menu-box li.on h6{
	cursor: default;
}




.shadow-left{
	position:absolute;
	top:0;
	left:152px;
	*left:159px;
	bottom:0;
	width:8px;
	height:100%;
	background:url(../images/shadow-left.png) no-repeat right 6px;
}

/*---------- main -----------*/
.main{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:160px; 
	_width:expression(document.body.offsetWidth - 160 + 'px'); 
	height:100%;
}
.tab-body{
	position:absolute;
	top:6px; 
	left:0;
	bottom:6px;
	right:0;
	width:100%;
	_height:expression(document.body.offsetHeight - 72 + 'px'); /*header(height)+ tab-body(top)+ tab-body(bottom)*/
	background:#F8F8F8;
}
.iframe{
	position:absolute;
	_position:relative;
	width:100%;
	height:100%;
}

.round-left-top, .round-left-bottom{
	position:absolute;
	overflow:hidden;
	width:4px;
	height:4px;
	background:url(../images/main-round.png) no-repeat;
}
.round-left-top{
	top:6px;
	left:0;
	background-position:right bottom;
}
.round-left-bottom{
	bottom:6px;
	left:0;
	background-position:right top;
}

.screen-left{
	position:absolute;
	top:50%;
	left:0;
	margin-top:-30px;
}
.screen-left a{
	overflow:hidden;
	display:block;
	width:9px;
	height:58px;
	filter:alpha(Opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	background:url(../images/screen-left.png) no-repeat;
}

.screen-top{
	position:absolute;
	top:6px;
	left:50%;
	margin-left:-30px;
}
.screen-top a{
	overflow:hidden;
	display:block;
	width:58px;
	height:9px;
	filter:alpha(Opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	background:url(../images/screen-top.png) no-repeat;
}

.screen-top a:hover, .screen-left a:hover{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}

.full-left .menu{
	display:none;
}
.full-left .main{
	left:6px;
	_width:expression(document.body.offsetWidth - 6 + 'px');
}
.full-top .content{
	top:0;
	height:100%;
}
.full-top .tab-body{
	_height:expression(document.body.offsetHeight - 12 + 'px');
}
.full-left .screen-left a{
	background-position:0 -58px;
}
.full-top .screen-top a{
	background-position:0 -9px;
}


/*-------------------------------*/
.guide{
	height:28px;
	line-height:28px;
	padding-left:12px;
	background:url(../images/guide-bg.png) repeat-x 0 bottom;
}
.guide span{
	color:#999;
}


/*-----------------------------*/
.flip-box{
	overflow:hidden;
	height:22px;
	padding:10px 0;
	border:1px solid #C4D6E6;
	background:url(../images/flip-bg.png) repeat-x;
}
.flip p{
	float:right;
	padding-right:12px;
}
.flip a{
	float:left;
	height:20px;
	line-height:20px;
	color:#4D6680;
	cursor:pointer;
	margin:0 2px;
	padding:0 6px;
	border:1px solid #AFBFCF;
	background:url(../images/flip.png) repeat-x;
}
.flip a.on, .flip a:hover{
	color:#FFF;
	text-decoration:none;
	border-color:#34414B;
	background-position:0 -20px;
}
.flip span{
	float:left;
	line-height:22px;
	color:#999;
}
.flip .info{
	float:left;
	line-height:22px;
	padding-left:12px;
}
.flip .info b{
	color:#069;
	font-weight:normal;
	padding:0 2px;
}
.flip .gray, .flip .gray:hover{
	color:#96A6BE;
	cursor:default;
	border:1px solid #AFBFCF;
	background:url(../images/flip.png) repeat-x;
}
.flip select{
	float:left;
	height:22px;
	color:#404040;
	border:1px solid #CCC;
}


