body{
	height:100%;
	background:url(../images/login-bg.png) #1C252C repeat center 0;
}
.login-box{
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:-60px;
	background:url(../images/login-box.png) no-repeat center 0;
}
.login{
	position:absolute;
	top:50%;
	left:50%;
	width:483px;
	height:451px;
	margin:-180px 0 0 -242px;
	background:url(../images/login.png) no-repeat;
}
.login-title{
	position:absolute;
	top:46px;
	left:130px;
	line-height:30px;
	color:#00005A;
	font-size:25px;
	font-weight:700;
	font-family:Microsoft YaHei, Arial, "宋体";
}


.login-form{
	padding:124px 0 0 135px;
}

.login-form p{
	position:relative;
	height:45px;
}
.login-label{
	position:absolute;
	top:0;
	left:-130px;
	display:block;
	width:130px;
	line-height:30px;
	color:#404040;
	text-align:right;
	font-size:14px;
	font-family:Microsoft YaHei, Arial, "宋体";
}
.login-txt{
	width:202px;
	height:25px;
	line-height:25px;
	color:#1C252C;
	font-size:14px;
	font-family:Tahoma;
	padding:3px 8px 4px 8px;
	border:0;
	background-color:transparent;
}
.login-btn, .digital-btn{
	width:102px;
	height:33px;
	cursor:pointer;
	margin-top:6px;
	border:0;
	background:url(../images/login-btn.png) no-repeat;
}
.digital-btn{
	margin-left:10px;
	background-position:-115px 0;
}
.copy{
	position:absolute;
	top:300px;
	right:24px;
	color:#32404E;
}