.list-tab{
	margin-bottom:6px;
	border-bottom:2px solid #34414B;
}
.list-tab li{
	float:left;
}
.list-tab li a{
	overflow:hidden;
	float:left;
	display:inline;
	width:92px;
	height:26px;
	line-height:27px;
	text-align:center;
	margin-right:8px;
	background:url(../images/list-tab.png) no-repeat -102px 0;
}
.list-tab li.on a, .list-tab li a:hover{
	color:#FFF;
	background-position:0 0;
}


.list-hd{
	position:relative;
	z-index:999;
	height:32px;
	line-height:32px;
	margin-top:5px;
	margin-bottom:-1px;
	border:1px solid #BFDBEA;
	border-top:0;
	background:url(../images/list-hd.png) repeat-x 0 -10px;
}
.list-hd .round-left, .list-hd .round-right{
	position:absolute;
	top:0;
	left:-1px;
	display:block;
	overflow:hidden;
	width:7px;
	height:7px;
	background:url(../images/list-hd.png) repeat-x right 0;
}
.list-hd .round-right{
	left:auto;
	right:-1px;
	background-position:0 0;
}
.list-hd .title{
	color:#333;
	font-weight:700;
	padding-left:12px;
}
.list-hd .title span{
	color:#666;
	padding-left:8px;
	font-weight:normal;
}

.list-hd li{
	float:left;
	display:inline;
	margin:6px 0 0 6px;
}
.list-hd li a{
	float:left;
	height:21px;
	line-height:21px;
	color:#333;
	padding:0 8px;
	border-left:1px solid #AAA;
	border-right:1px solid #AAA;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity:0.9;
	background:url(../images/excel-btn.png) repeat-x 0 -21px;
}
.list-hd li.on a, .list-hd li a:hover{
	color:#FFF;
	border-left:1px solid #CD5C12;
	border-right:1px solid #CD5C12;
	background-position:0 0;
}

.list-hd .more{
	position:absolute;
	top:6px;
	right:2px;
}
.export{
	overflow:hidden;
	float:left;
	display:inline;
	height:21px;
	line-height:21px;
	color:#FFF;
	padding:0 6px;
	margin-right:8px;
	border-left:1px solid #CD5C12;
	border-right:1px solid #CD5C12;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity:0.9;
	background:url(../images/excel-btn.png) repeat-x;
}
.export:hover, .export-download:hover{
	filter:alpha(Opacity=100) !important;
	-moz-opacity:1 !important;
	opacity:1 !important;
}

.export-download{
	overflow:visible;
	float:left;
	display:inline;
	height:21px;
	line-height:21px;
	color:#FFF;
	cursor:pointer;
	padding:0 6px;
	margin-right:8px;
	border:0;
	border-left:1px solid #CD5C12;
	border-right:1px solid #CD5C12;
	_border:0;
	+border:0;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity:0.9;
	background:url(../images/excel-btn.png) repeat-x;
}

.custom-head{
	position:relative;
	float:left;
}
.custom-head ul{
	display:block;
	position:absolute;
	top:20px;
	right:0;
	width:200px;
	padding:8px;
	margin-right:8px;
	border:2px solid #F90;
	border-top:2px solid #F60;
	background:#FFFEED;
}
.custom-head li{
	overflow:hidden;
	float:left;
	width:100px;
	height:24px;
	line-height:24px;
	margin:0;
}
.custom-head input{
	float:left;
	width:13px;
	height:13px;
	margin:5px 4px 0 0;
	_margin-right:2px;
}


.list-bd{
	width:100%;
	margin-bottom:-1px;
	border:1px solid #C4D6E6;
}
.list-bd a{
	color:#069;
}
.list-bd a:hover{
	color:#F60;
	text-decoration:underline;
}
.list-bd td{
	height:20px;
	line-height:20px;
	text-align:center;
	padding:2px 4px;
	border:1px solid #C4D6E6;
	background-color:#FFF;
}
.list-bd .title td{
	color:#333;
	font-weight:700;
	margin-bottom:-1px;
	background:url(../images/list-bd-title.png) #FFF repeat-x 0 bottom;
}


.list-bd .operate{
	overflow:hidden;
	height:20px;
}
.list-bd .operate a{
	margin:0 4px;
}



/*-----------------------------*/

.suspects{
	height:100%;
	margin-bottom:-1px;
	padding-bottom:10px;
	padding-left:18px;
	border:1px solid #CCC;
	background:#FFF;
}
.suspects li{
	position:relative;
	overflow:hidden;
	float:left;
	display:inline;
	width:180px;
	height:135px;
	text-align:center;
	margin:12px 18px 0 0;
	border:1px solid #DDD;
	background:#F6F6F6;
}

/*-----------------------------*/

.user-add{
	overflow:hidden;
	float:left;
	height:21px;
	line-height:21px;
	_line-height:23px;
	color:#546978;
	margin:5px 0 0 8px;
	padding:0 10px 0 10px;
	border:1px solid #AEBDC6;
}

.user-search{
	overflow:hidden;
	float:left;
	line-height:21px;
	_line-height:23px;
	color:#546978;
	margin:5px 0 0 8px;
	border:1px solid #AEBDC6;
}
.user-add:hover{
	color:#34434B;
	border-color:#8EA4B0;
}

/*-----------------------------*/

.list-detail{
	width:100%;
	margin-bottom:-1px;
}
.list-detail td{
	padding:4px 8px;
	border:1px solid #C4D6E6;
	background:#FFF;
}
.list-detail .title td{
	color:#333;
	font-weight:700;
	padding:4px 12px;
	background:#FFF4DF;
}
.list-detail .label{
	width:15%;
	text-align:right;
	color:#475663;
	background:#EDF4FC;
}

.contrast-number{
	color:#06C;
	font-size:14px;
}
.remove-btn{
	width:46px;
	height:20px;
	cursor:pointer;
	margin-left:4px;
	border:0;
	background:url(../images/remove-btn.png) no-repeat;
}
.shut-btn{
	width:13px;
	height:14px;
	cursor:pointer;
	margin-left:4px;
	border:0;
	background:url(../images/shut-btn.png) no-repeat;
}

/*-----------------------------*/
.comp{
	position:absolute;
	top:38px;
	right:18px;
	z-index:9999;
}
.comp-box{
	width:200px;
	border:2px solid #F90;
	background:#FFFEED;
}
.comp-hd{
	position:relative;
	height:22px;
	line-height:22px;
	color:#FFF;
	font-weight:700;
	padding-left:8px;
	border-bottom:1px solid #F80;
	background:#F90;
}
.comp-shut{
	position:absolute;
	top:4px;
	right:4px;
	overflow:hidden;
	display:block;
	width:14px;
	height:13px;
	background:url(../images/comp-shut.png) no-repeat;
}
.comp-shut:hover{
	background-position:0 -15px;
}
.comp-bd{
	padding:8px 0;
}
.comp-bd li{
	height:20px;
	padding:4px 8px;
}
.comp-bd li .shut-btn{
	filter:alpha(Opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;
}
.comp-bd li .shut-btn:hover{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.comp-btn{
	display:none;
	float:right;
	height:21px;
	line-height:21px;
	color:#FFF;
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	padding:0 21px 0 6px;
	background:url(../images/comp-show.png) #F60 no-repeat right 0;
}
.comp-btn:hover{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.comp-hide .comp-btn{
	display:block;
}
.comp-hide .comp-box{
	display:none;
}












