@charset 'utf-8';
/* 重置 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 Tahoma, "宋体", Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
::selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: rgba(216, 76, 49, 0.8);
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
a,
a:focus {
  text-decoration: none;
  color: #252525;
  outline: none;
  blr: expression(this.onFocus=this.blur());
}
a:hover {
  color: #00a4ac;
  text-decoration: none;
}
